//-includes
include mixin.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Account challenge
        link(rel="stylesheet", href="../css/index.css")
    body
        //main section start
        main
        //welcome section start
        +welcomeScreen
        //welcome section finish
        //account section start
        +accountScreen
        //account section finish
        //main section finish
        