//-insert data modal
mixin insertDataModal
    div(id="modal-container")
        .modal
            form.modal__form
                label(for="name") name:
                input(type="text" id="name")
                label(for="age") age: 
                input(type="text" id="age")
                label(for="gender") gender: 
                input(type="text" id="gender")
                label(for="weight") weight:
                input(type="text" id="weight")
                label(for="height") height:
                input(type="text" id="height")  
                a(href="#" title="Sen data") sen data                                                  
//-show data card
mixin showData(className)
    .show-data-container
        each val in ["name:","age:","gender:","weight:","height:","adult:"]
            h2=val
            p(class=className)