mixin insertDataModal
    .modal-container
        .modal
            form.modal__form
                label(for="name") name:
                input(type="text" id="name")
                label(for="age") age: 
                input(type="text" id="age")
                label(for="gender") gender: 
                input(type="text" id="gender")
                label(for="weight") weight:
                input(type="text" id="weight")
                label(for="height") height:
                input(type="text" id="height")  
                a(href="#") sen data                                                  

mixin showData(className)
    .show-data-container
        each val in ["name","age","gender","weight","height"]
            h2=val
            p(class=className)